doctype html
html
  head
    .nav
      a(href='/') home
      a(href='/login') login
      a(href='/shop') shop
      a(href='/cart') cart
      a(href='/orders') orders
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    .footer 
      p Gabrielius Janusevicius
