extends layout

block content
  h1= title
  p Welcome to #{title} page.
  .gallery
    a(href='https://unsplash.com/photos/K5pLGYJMHKk')
      img(src='/images/toshi-K5pLGYJMHKk-unsplash.jpg' alt="Dog")
    figcaption Dog

//- https://unsplash.com/photos/K5pLGYJMHKk